$eds-green:#73933d;
$eds-orange:#f89521;

$mid-dark-grey:#6f6f6f;
$dark-grey:#4d4d4d;
$darker-grey:#3c3c3c;

$dark-orange:#d1925e;

$light-grey:#d4d4d4;
$mid-light-grey:#c3c3c3;

.green {
  color: $eds-green;
}
